
<%= form_for(@listings, url: search_listings_path, method:'post', html: {id: "search"}) do |f| %>
	<%= f.text_field :location %>
	<%= f.submit :submit %>
	<%= f.collection_check_boxes(:tag_ids, ActsAsTaggableOn::Tag.all, :id, :name) %>

<% end %>
<div id='block'>
</div>